.container-fluid {
    padding-left: 45px;
    padding-right: 45px;
}

table, th, td {
    border-collapse: collapse;
}

th, td {
    padding: 11px 15px;
    text-align: left;
}

th {
    background-color: white;
}

td a {
    color: #0088cc;
    cursor: pointer;
}

tr:nth-child(odd) {
    background-color: #f9f9f9;
}
