body {
    padding-top: 72px;
    padding-bottom: 112px;
    font-size: 13px;
}

.container-fluid {
    padding-left: 45px;
    padding-right: 45px;
}

table, th, td {
    border-collapse: collapse;
}

th, td {
    font-size: 13px;
    padding: 12px 15px;
    text-align: left;
}

th {
    color: #333;
    background-color: white;
    font-weight: 700;
}

td {
    color: #666;
    border-top: 1px solid #f4f4f4;
}

tbody > tr:hover > td {
    color: #0bf;
    cursor: pointer;
}

.menu-table > tbody > tr > td {
    border-color: #f9f9f9;
}

.navbar-curved-border {
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    border: none;
    background-color: #fff;
}

.navbar-curved-border .navbar-nav > li > a {
    color: #666;
}

.navbar-curved-border .navbar-nav > li:hover > a {
    cursor: default;
    background-color: #fff;
}

.navbar-large {
    min-height: 90;
}

.smaller-brand {
    font-size: 13px;
    padding: 16px 15px;
    color: #333 !important;
    font-weight: 700;
}

.smaller-brand:hover {
    color: #ff00bb !important;
}

#search_input {
    font-size: 13px;
    min-width: 300px;
    color: #666;
    border: 1px solid #ddd;
    box-shadow: none;
}

.btn-search {
    color: #666;
    border-color: #ddd;
    font-size: 13px;
    padding: 7px 12px;
    background-color: #fff;
}

.menu-col {
    background-color: #f9f9f9;
    border-radius: 4px;
}

.menu-active {
    color: #ff00bb;
}

.play-button {
    position: absolute;
    bottom: 30px;
    left: 45px;
    right: 45px;
}

.player {
    position: absolute;
    bottom: 40px;
    height: 10px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    left: 200px;
    right: 45px;
}

#player-ball {
    position: absolute;
    top: -6px;
    height: 20px;
    background: white;
    border: 1px solid #a3a3a3;
    border-radius: 4px;
    margin-left: -15px;
    width: 20px;
}

#player-ball:hover {
    border-color: #666;
}

.colorPink {
    color: #ff00bb;
}
