<html lang='en'>
  <head>

    <link type='text/css' href='/static/css/bootstrap.css' rel='stylesheet'>
    <link type='text/css' href='/static/css/style.css' rel='stylesheet'>

  </head>
  <body>

    <!-- START html -->

    <nav class='navbar navbar-default navbar-fixed-top navbar-curved-border'>
      <div class='container-fluid'>
        <div class='navbar-header'>
          <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1' aria-expanded='false'>
            <span class='sr-only'>Toggle navigation</span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
          </button>
          <a class='navbar-brand' href='/'>ZEP</a>
        </div>
        <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
          <ul class='nav navbar-nav'>
            <li><a href='/'>just music.</a></li>
          </ul>
          <form class='navbar-form navbar-right' role='search' onsubmit='return false;'>
            <div class='form-group'>
              <input type='text' class='form-control' id='search_input' placeholder='Songs, artists, or albums'>
            </div>
            <button type='submit' class='btn btn-default' onclick='queryResults();'>Submit</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li class='dropdown'>
              <a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false'>Dropdown <span class='caret'></span></a>
              <ul class='dropdown-menu'>
                <li><a href='#'>Action</a></li>
                <li><a href='#'>Another action</a></li>
                <li><a href='#'>Something else here</a></li>
                <li role='separator' class='divider'></li>
                <li><a href='#'>Separated link</a></li>
                <li role='separator' class='divider'></li>
                <li><a href='#'>One more separated link</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class='container-fluid'>
      <div class='row'>
        <div id='query_results'>
        {% if query_results %}
          <table>
            <thead>
              <tr>
                <th>TITLE</th>
                <th>ARTIST</th>
                <th>TIME</th>
                <th>GENRE</th>
                <th>LISTEN</th>
              </tr>
            </thead>
            <tbody>
              {% for q in query_results %}
                <tr>
                  <td>{{q.title}}</td>
                  <td>{{q.artist}}</td>
                  <td>{{q.duration}}</td>
                  <td>{{q.genre}}</td>
                  <td><a id='track-url' data-url='{{q.url}}' data-duration='{{q.durationSeconds}}' playing='no'>Play</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
        </div>
      </div>
    </div>

    <nav class='navbar navbar-default navbar-fixed-bottom navbar-curved-border'>
      <div class='navbar-header'>
        <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1' aria-expanded='false'>
          <span class='sr-only'>Toggle navigation</span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>
      </div>
      <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
        <ul class='nav navbar-nav'>
          <div class='player'>
            <div id='player-ball'></div>
          </div>
        </ul>
      </div>
    </nav>

    <!-- END html -->

    <!-- START javascript -->
    <!-- START jquery and bootstrap -->

    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <script type='text/javascript' src='/static/js/bootstrap.js'></script>

    <!-- END jquery and bootstrap -->
    <!-- START audio init -->

    <script type='text/javascript' src='/static/js/soundmanager2-jsmin.js'></script>
    <script type='text/javascript'>

        soundManager.setup({
            url: '/static/swf/',
            consoleOnly: true,
            debugMode: true,
            preferFlash: true,
            useHighPerformance: true,
            useHTML5Audio: true,
            waitForWindowLoad: false,
            flashVersion: 9
        });

    </script>

    <!-- END audio init -->
    <!-- START vanilla js -->

    <script type='text/javascript'>

        function queryResults() {
            document.getElementById('query_results').innerHTML = "<div id='loading_gif'><img src='/static/images/loading.gif'></div>";
            search_value = document.getElementById('search_input').value;
            search_value = search_value.split(' ').join('+');
            window.history.pushState({'query_state': 1}, 'query_state', '?q=' + search_value);
            $('#query_results').load(window.location.href + ' #query_results');
        }

    </script>

    <!-- END vanilla js -->
    <!-- START jquery -->

    <script type='text/javascript'>

        var lastPlayed;
        $(document).on('click', '#track-url', function() {
            if ($(this).attr('playing') == 'no') {
                if (lastPlayed != undefined) {
                    soundManager.destroySound('current');
                }
                var track_url = $(this);
                var duration = track_url.attr('data-duration');
                var current = soundManager.createSound({
                    id: 'current',
                    url: track_url.attr('data-url'),
                    autoLoad: true,
                    autoPlay: true,
                    volume: 100,
                    onconnect: function() {
                        track_url.attr('playing', 'yes');
                        track_url.parent().css('border-right', '1px solid #a3a3a3');
                    },
                    onplay: function() {
                        track_url.html('Pause');
                        track_url.click(function() {soundManager.pause('current');});
                    },
                    onpause: function() {
                        track_url.unbind('click');
                        track_url.html('Play');
                        track_url.click(function() {soundManager.resume('current');});
                    },
                    onresume: function() {
                        track_url.unbind('click');
                        track_url.html('Pause');
                        track_url.click(function() {soundManager.pause('current');});
                    },
                    whileplaying: function() {
                        $('#player-ball').css('left', (this.position/(duration*1000))*100 + '%');
                    },
                    onstop: function() {
                        $('#player-ball').css('left', '0');
                        track_url.parent().css('border-right', 'none');
                        track_url.unbind('click');
                        track_url.html('Play');
                        track_url.attr('playing', 'no');
                    },
                    onfinish: function() {
                        $('#player-ball').css('left', '0');
                        track_url.parent().css('border-right', 'none');
                        track_url.unbind('click');
                        track_url.html('Play');
                        track_url.attr('playing', 'no');
                    },
                });
                lastPlayed = track_url;
            }
        });

    </script>

    <!-- END jquery -->
    <!-- END javascript -->

  </body>
</html>
